# Python virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Hugging Face cache
models/

# Jupyter
notebook/

# Old UI
ui/

# Node
node_modules/
dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db